<!--  Define la ruta URL para acceder a esta página -->
@page "/indicador"

<!--  Importa el espacio de nombres para trabajar con JSON -->
@using Services

@using FrontBlazor.Pages.Componentes

<!--  Importa el espacio de nombres donde se encuentra el ServicioEntidad-->
@inject ServicioEntidad servicioEntidad
@inject IJSRuntime JS

<PageTitle>Indicador</PageTitle>

<h1>Indicador</h1>



<div class="mb-3 d-flex gap-2 justify-content-between align-items-center">

    <div class="head-left-side d-flex gap-2">
        <button class="btn btn-primary" @onclick="ManejarClickListar">Listar</button>
        <button class="btn btn-primary" @onclick="() => CargarIndicadoresPorNombre(nombreConsulta)">Consultar</button>
        <input type="text" class="form-control" id="iptConsultar" placeholder="Consultar Indicador/Nombre"
            @bind="nombreConsulta" />
    </div>

    <div class="head-right-side">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearModal1" @onclick="ManejarClickCrear" >Crear</button>
        <div class="modal fade" id="crearModal1" aria-hidden="true" aria-labelledby="crearModal1Label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="crearModal1Label">Agregando Indicador: Pg. 1</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="iptCodigo" class="form-label">Codigo</label>
                            <input type="text" class="form-control" id="iptCodigo" placeholder="COD 000"
                                @bind="@formularioIndicador.codigo" />
                        </div>
                        <div class="mb-3">
                            <label for="iptNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="iptNombre" placeholder="NPM 000"
                                @bind="@formularioIndicador.nombre" />
                        </div>
                        <div class="mb-3">
                            <label for="iptObjetivo" class="form-label">Objetivo</label>
                            <input type="text" class="form-control" id="iptObjetivo" placeholder="Objetivo"
                                @bind="@formularioIndicador.objetivo" />
                        </div>
                        <div class="mb-3">
                            <label for="iptAlcance" class="form-label">Alcance</label>
                            <input type="text" class="form-control" id="iptAlcance" placeholder="Alcance"
                                @bind="@formularioIndicador.alcance" />
                        </div>
                        <div class="mb-3">
                            <label for="iptFormula" class="form-label">Formula</label>
                            <input type="text" class="form-control" id="iptFormula" placeholder="Formula"
                                @bind="@formularioIndicador.formula" />
                        </div>
                        <div class="mb-3">
                            <label for="iptMeta" class="form-label">Meta</label>
                            <input type="text" class="form-control" id="iptMeta" placeholder="Meta"
                                @bind="@formularioIndicador.meta" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#crearModal2" data-bs-toggle="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="crearModal2" aria-hidden="true" aria-labelledby="crearModal2Label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="crearModal2Label">Agregando Indicador: Pg. 2</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="sltTipoActor">Seleccione el Tipo de Indicador: </label>
                            <select name="sltTipoActor" id="sltTipoActor" class="form-select" @bind="@formularioIndicador.fkidtipoindicador">
                                @if (tiposIndicador != null && tiposIndicador.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione un Tipo de Indicador</option>
                                    foreach (var tipo in tiposIndicador)
                                    {
                                        var idTipo = ObtenerValor(tipo, "id");
                                        var nombreTipo = ObtenerValor(tipo, "nombre");
                                        <option value="@idTipo">@nombreTipo</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sltUnidadMedicion">Seleccione la Unidad de Medición: </label>
                            <select name="sltUnidadMedicion" id="sltUnidadMedicion" class="form-select" @bind="@formularioIndicador.fkidunidadmedicion">
                                @if (unidadesMedicion != null && unidadesMedicion.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione una Unidad de Medición</option>
                                    foreach (var unidad in unidadesMedicion)
                                    {
                                        var idUnidad = ObtenerValor(unidad, "id");
                                        var descripcionUnidad = ObtenerValor(unidad, "descripcion");
                                        <option value="@idUnidad">@descripcionUnidad</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sltSentido">Seleccione el Sentido: </label>
                            <select name="sltSentido" id="sltSentido" class="form-select" @bind="@formularioIndicador.fkidsentido">
                                @if (sentidos != null && sentidos.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione un Sentido</option>
                                    foreach (var sentido in sentidos)
                                    {
                                        var idSentido = ObtenerValor(sentido, "id");
                                        var nombreSentido = ObtenerValor(sentido, "nombre");
                                        <option value="@idSentido">@nombreSentido</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sltFrecuencia">Seleccione la Frecuencia: </label>
                            <select name="sltFrecuencia" id="sltFrecuencia" class="form-select" @bind="@formularioIndicador.fkidfrecuencia">
                                @if (frecuencias != null && frecuencias.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione una Frecuencia</option>
                                    foreach (var frecuencia in frecuencias)
                                    {
                                        var idFrecuencia = ObtenerValor(frecuencia, "id");
                                        var nombreFrecuencia = ObtenerValor(frecuencia, "nombre");
                                        <option value="@idFrecuencia">@nombreFrecuencia</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sltArticulo">Seleccione el Articulo: </label>
                            <select name="sltArticulo" id="sltArticulo" class="form-select" @bind="@formularioIndicador.fkidarticulo">
                                @if (articulos != null && articulos.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione un Articulo</option>
                                    foreach (var articulo in articulos)
                                    {
                                        var idArticulo = ObtenerValor(articulo, "id");
                                        var nombreArticulo = ObtenerValor(articulo, "nombre");
                                        <option value="@idArticulo">@nombreArticulo</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sltLiteral">Seleccione el Literal: </label>
                            <select name="sltLiteral" id="sltLiteral" class="form-select" @bind="@formularioIndicador.fkidliteral">
                                @if (literales != null && literales.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione un Literal</option>
                                    foreach (var literal in literales)
                                    {
                                        var idLiteral = ObtenerValor(literal, "id");
                                        var descripcionLiteral = ObtenerValor(literal, "descripcion");
                                        <option value="@idLiteral">@descripcionLiteral</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sltNumeral">Seleccione el Numeral: </label>
                            <select name="sltNumeral" id="sltNumeral" class="form-select" @bind="@formularioIndicador.fkidnumeral">
                                @if (numerales != null && numerales.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione un Numeral</option>
                                    foreach (var numeral in numerales)
                                    {
                                        var idNumeral = ObtenerValor(numeral, "id");
                                        var descripcionNumeral = ObtenerValor(numeral, "descripcion");
                                        <option value="@idNumeral">@descripcionNumeral</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sltParagrafo">Seleccione el Paragrafo: </label>
                            <select name="sltParagrafo" id="sltParagrafo" class="form-select" @bind="@formularioIndicador.fkidparagrafo">
                                @if (paragrafos != null && paragrafos.Count > 0)
                                {
                                    <option value="" disabled selected>Seleccione un Paragrafo</option>
                                    foreach (var paragrafo in paragrafos)
                                    {
                                        var idParagrafo = ObtenerValor(paragrafo, "id");
                                        var descripcionParagrafo = ObtenerValor(paragrafo, "descripcion");
                                        <option value="@idParagrafo">@descripcionParagrafo</option>
                                    }
                                }
                                else
                                {
                                    <option value="" disabled selected>No hay tipos de actores disponibles</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#crearModal1" data-bs-toggle="modal">Anterior</button>
                        <button class="btn btn-primary" data-bs-target="#crearModal3" data-bs-toggle="modal">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="crearModal3" aria-hidden="true" aria-labelledby="crearModal3Label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="crearModal3Label">Agregando Indicador: Pg. 3</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Modal 3
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#crearModal2" data-bs-toggle="modal">Anterior</button>
                        <button class="btn btn-primary" data-bs-target="#" data-bs-toggle="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@if (Cargando)
{
    <p><em>Cargando...</em></p>
}
else
{

    @if (CargarTabla && indicadores != null && indicadores.Count > 0)
    {
        <div class="table-responsive tableContainer">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Objetivo</th>
                        <th>Alcance</th>
                        <th>Formula</th>
                        <th>Meta</th>
                        <th>Tipo Indicador</th>
                        <th>Unidad Medicion</th>
                        <th>Sentido</th>
                        <th>Frecuencia</th>
                        <th>Articulo</th>
                        <th>Literal</th>
                        <th>Numeral</th>
                        <th>Paragrafo</th>
                        <th>Represenvisualporindicador</th>
                        <th>Responsablesporindicador</th>
                        <th>Fuentesporindicador</th>
                        <th>Variablesporindicador</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var indicador in indicadores)
                    {
                        var id = ObtenerValor(indicador, "id");
                        var codigo = ObtenerValor(indicador, "codigo");
                        var nombre = ObtenerValor(indicador, "nombre");
                        var objetivo = ObtenerValor(indicador, "objetivo");
                        var alcance = ObtenerValor(indicador, "alcance");
                        var formula = ObtenerValor(indicador, "formula");
                        var meta = ObtenerValor(indicador, "meta");
                        var nombretipoindicador = ObtenerValor(indicador, "nombretipoindicador");
                        var descripcionunidadmedicion = ObtenerValor(indicador, "descripcionunidadmedicion");
                        var nombresentido = ObtenerValor(indicador, "nombresentido");
                        var nombrefrecuencia = ObtenerValor(indicador, "nombrefrecuencia");
                        var nombrearticulo = ObtenerValor(indicador, "nombrearticulo");
                        var descripcionliteral = ObtenerValor(indicador, "descripcionliteral");
                        var descripcionnumeral = ObtenerValor(indicador, "descripcionnumeral");
                        var descripcionparagrafo = ObtenerValor(indicador, "descripcionparagrafo");


                        <tr>
                            <td>@id</td>
                            <td>@codigo</td>
                            <td>@nombre</td>
                            <td>@objetivo</td>
                            <td>@alcance</td>
                            <td>@formula</td>
                            <td>@meta</td>
                            <td>@nombretipoindicador</td>
                            <td>@descripcionunidadmedicion</td>
                            <td>@nombresentido</td>
                            <td>@nombrefrecuencia</td>
                            <td>@nombrearticulo</td>
                            <td>@descripcionliteral</td>
                            <td>@descripcionnumeral</td>
                            <td>@descripcionparagrafo</td>
                            <td>
                                 <ModalVer TItem="Dictionary<string, object>" 
                                    Items="represenvisualporindicador"
                                    CampoPrimario="nombre"
                                    Titulo="@($"Represenvisuales del indicador: {nombre}")"
                                    OnVerClick="() => CargarRepresenvisualporindicador(id)" 
                                    IdModal="@($"Represen{id}{nombre.Replace(" ","")}Modal")"/>                                
                            </td>
                            <td>
                                <ModalVer TItem="Dictionary<string, object>" 
                                    Items="responsablesporindicador"
                                    CampoPrimario="nombre"
                                    Titulo="@($"Responsables del indicador: {nombre}")"
                                    OnVerClick="() => CargarResponsablesporindicador(id)" 
                                    IdModal="@($"Responsable{id}{nombre.Replace(" ","")}Modal")"/>
                            </td>
                            <td>
                                <ModalVer TItem="Dictionary<string, object>" 
                                    Items="fuentesporindicador"
                                    CampoPrimario="nombre"
                                    Titulo="@($"Fuentes del indicador: {nombre}")"
                                    OnVerClick="() => CargarFuentesporindicador(id)" 
                                    IdModal="@($"Fuente{id}{nombre.Replace(" ","")}Modal")"/>
                            </td>
                            <td>
                                <ModalVer TItem="Dictionary<string, object>" 
                                    Items="variablesporindicador"
                                    CampoPrimario="nombre"
                                    CampoSecundario="dato"
                                    Titulo="@($"Variables del indicador: {nombre}")"
                                    OnVerClick="() => CargarVariablesporindicador(id)" 
                                    IdModal="@($"Variable{id}{nombre.Replace(" ","")}Modal")"/>
                            </td>
                            <td >
                                <div class="d-flex gap-2 justify-content-center">
                                 <button class="btn btn-warning">
                                    Editar
                                </button>
                                <button class="btn btn-danger" @onclick="@( () =>  ManejarClickEliminar(id))">Eliminar</button>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if ((indicadores == null || indicadores.Count == 0) && CargarTabla)
    {
        <p>No hay Indicadores disponibles.</p>
    }

}

<!-- Mostrar mensaje de error si existe -->
@if (mensaje != null)
{
    <div class="alert alert-secondary m-3">
        @mensaje
    </div>
}






@code {

    // Variables para almacenar las listas
    private List<Dictionary<string, object>> indicadores = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> responsablesporindicador = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> fuentesporindicador = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> variablesporindicador = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> represenvisualporindicador = new List<Dictionary<string, object>>();

    private List<Dictionary<string, object>> tiposIndicador = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> unidadesMedicion = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> sentidos = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> frecuencias = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> articulos = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> literales = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> numerales = new List<Dictionary<string, object>>();
    private List<Dictionary<string, object>> paragrafos = new List<Dictionary<string, object>>();

    
    // Variable para almacenar el formulario
    private FormularioIndicador formularioIndicador = new FormularioIndicador();
    // Variable para almacenar mensajes de error
    private string? mensaje = null;

    // Constantes para los parámetros de la API
    private const string PROYECTO = "proyecto";
    private const string TABLA = "indicador";

    // Variable para almacenar el nombre a consultar
    private string nombreConsulta = string.Empty;

    // Variables visibilidad
    private bool Cargando = true;
    private bool CargarTabla = false;

    protected override async Task OnInitializedAsync()
    {
        await CargarIndicadores();
    }

    private class FormularioIndicador
    {
        public string id { get; set; } = "";
        public string codigo { get; set; } = "";
        public string nombre { get; set; } = "";
        public string objetivo { get; set; } = "";
        public string alcance { get; set; } = "";
        public string formula { get; set; } = "";
        public string meta { get; set; } = "";
        public string fkidtipoindicador { get; set; } = "";
        public string fkidunidadmedicion { get; set; } = "";
        public string fkidsentido { get; set; } = "";
        public string fkidfrecuencia { get; set; } = "";
        public string fkidarticulo { get; set; } = "";
        public string fkidliteral { get; set; } = "";
        public string fkidnumeral { get; set; } = "";
        public string fkidparagrafo { get; set; } = "";
    }

    private async void ManejarClickCrear()
    {
        formularioIndicador = new FormularioIndicador();
        mensaje = null;
        await CargarTiposIndicador();
        await CargarUnidadesMedicion();
        await CargarSentidos();
        await CargarFrecuencias();
        await CargarArticulos();
        await CargarLiterales();
        await CargarNumerales();
        await CargarParagrafos();
        StateHasChanged();
    }

    private async void ManejarClickListar()
    {
        mensaje = null;
        await CargarIndicadores();
        StateHasChanged();
    }

     private async void ManejarClickEliminar(string id)
    {
        mensaje = null;
        var confirmar = await JS.InvokeAsync<bool>("confirm", "¿Está seguro de que desea eliminar este Indicador?");
        if (!confirmar)
        {
            return;
        }
        await EliminarIndicador(id);
    }

    private async Task CargarIndicadores()
    {
        Cargando = true;
        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.EjecutarConsultaAsync(PROYECTO, TABLA, new Dictionary<string, object> { {"consulta", "SELECT i.id, i.nombre, i.codigo, i.objetivo, i.alcance, i.formula, i.fkidtipoindicador, i.fkidunidadmedicion, i.meta, i.fkidsentido, i.fkidfrecuencia, i.fkidarticulo, i.fkidliteral, i.fkidnumeral, i.fkidparagrafo, ti.nombre as nombretipoindicador, u.descripcion as descripcionunidadmedicion, s.nombre as nombresentido, f.nombre as nombrefrecuencia, a.nombre as nombrearticulo, l.descripcion as descripcionliteral, n.descripcion as descripcionnumeral, p.descripcion as descripcionparagrafo FROM dbo.indicador i LEFT JOIN dbo.articulo a ON a.id = i.fkidarticulo LEFT JOIN dbo.frecuencia f ON i.fkidfrecuencia = f.id LEFT JOIN dbo.literal l ON l.id = i.fkidliteral AND l.fkidarticulo = i.fkidarticulo LEFT JOIN dbo.numeral n ON n.id = i.fkidnumeral AND n.fkidliteral = i.fkidliteral LEFT JOIN dbo.paragrafo p ON p.id = i.fkidparagrafo AND p.fkidarticulo = i.fkidarticulo LEFT JOIN dbo.sentido s ON s.id = i.fkidsentido LEFT JOIN dbo.tipoindicador ti ON ti.id = i.fkidtipoindicador LEFT JOIN dbo.unidadmedicion u ON u.id = i.fkidunidadmedicion;" } });
            if (resultado != null)
            {
                indicadores = resultado;
            }
            else
            {
                indicadores = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar indicadores: {ex.Message}";
            indicadores = new List<Dictionary<string, object>>();
        }
        finally
        {
            Cargando = false;
            CargarTabla = true;
        }
    }

    private async Task EliminarIndicador(string id)
    {

        mensaje = null;

        try
        {

            var resultado = await servicioEntidad.EliminarAsync(PROYECTO, TABLA, "id", id);

            if (resultado)
            {
                await CargarIndicadores();
                StateHasChanged();
                formularioIndicador = new FormularioIndicador();
                mensaje = "Indicador eliminado con éxito";
            }
            else
            {
                mensaje = "Error al eliminar Indicador";
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al eliminar Indicador: {ex.Message}";
        }
        finally
        {
            Cargando = false;
        }
    }

    private async Task CargarIndicadoresPorNombre(string nombre)
    {
        Cargando = true;
        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.EjecutarConsultaAsync(PROYECTO, TABLA, new Dictionary<string, object> { { "consulta", $"SELECT i.id, i.nombre, i.codigo, i.objetivo, i.alcance, i.formula, i.fkidtipoindicador, i.fkidunidadmedicion, i.meta, i.fkidsentido, i.fkidfrecuencia, i.fkidarticulo, i.fkidliteral, i.fkidnumeral, i.fkidparagrafo, ti.nombre as nombretipoindicador, u.descripcion as descripcionunidadmedicion, s.nombre as nombresentido, f.nombre as nombrefrecuencia, a.nombre as nombrearticulo, l.descripcion as descripcionliteral, n.descripcion as descripcionnumeral, p.descripcion as descripcionparagrafo FROM dbo.indicador i LEFT JOIN dbo.articulo a ON a.id = i.fkidarticulo LEFT JOIN dbo.frecuencia f ON i.fkidfrecuencia = f.id LEFT JOIN dbo.literal l ON l.id = i.fkidliteral AND l.fkidarticulo = i.fkidarticulo LEFT JOIN dbo.numeral n ON n.id = i.fkidnumeral AND n.fkidliteral = i.fkidliteral LEFT JOIN dbo.paragrafo p ON p.id = i.fkidparagrafo AND p.fkidarticulo = i.fkidarticulo LEFT JOIN dbo.sentido s ON s.id = i.fkidsentido LEFT JOIN dbo.tipoindicador ti ON ti.id = i.fkidtipoindicador LEFT JOIN dbo.unidadmedicion u ON u.id = i.fkidunidadmedicion WHERE i.nombre LIKE '%{nombre}%'" } });
            if (resultado != null)
            {
                indicadores = resultado;
                nombreConsulta = string.Empty;
            }
            else
            {
                indicadores = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar indicadores: {ex.Message}";
            indicadores = new List<Dictionary<string, object>>();
        }
        finally
        {
            Cargando = false;
            CargarTabla = true;
        }
    }

    private async Task CargarTiposIndicador()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "tipoindicador");
            if (resultado != null)
            {
                tiposIndicador = resultado;
            }
            else
            {
                tiposIndicador = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Tipos de Indicador: {ex.Message}";
        }
    }

    private async Task CargarUnidadesMedicion()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "unidadmedicion");
            if (resultado != null)
            {
                unidadesMedicion = resultado;
            }
            else
            {
                unidadesMedicion = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Unidades de Medición: {ex.Message}";
        }
    }

    private async Task CargarSentidos()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "sentido");
            if (resultado != null)
            {
                sentidos = resultado;
            }
            else
            {
                sentidos = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Sentidos: {ex.Message}";
        }
    }

    private async Task CargarFrecuencias()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "frecuencia");
            if (resultado != null)
            {
                frecuencias = resultado;
            }
            else
            {
                frecuencias = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Frecuencias: {ex.Message}";
        }
    }

    private async Task CargarArticulos()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "articulo");
            if (resultado != null)
            {
                articulos = resultado;
            }
            else
            {
                articulos = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Articulos: {ex.Message}";
        }
    }

    private async Task CargarLiterales()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "literal");
            if (resultado != null)
            {
                literales = resultado;
            }
            else
            {
                literales = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Literales: {ex.Message}";
        }
    }

    private async Task CargarNumerales()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "numeral");
            if (resultado != null)
            {
                numerales = resultado;
            }
            else
            {
                numerales = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Numerales: {ex.Message}";
        }
    }

    private async Task CargarParagrafos()
    {

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, "paragrafo");
            if (resultado != null)
            {
                paragrafos = resultado;
            }
            else
            {
                paragrafos = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Paragrafos: {ex.Message}";
        }
    }

    private async Task CargarRepresenvisualporindicador(string id)
    {
        mensaje = null;

        represenvisualporindicador = new List<Dictionary<string, object>>();

        try
        {
            var resultado = await servicioEntidad.EjecutarConsultaAsync(PROYECTO, TABLA, new Dictionary<string, object> { { "consulta", $"SELECT rv.nombre FROM dbo.represenvisualporindicador rvpi INNER JOIN dbo.represenvisual rv ON rv.id = rvpi.fkidrepresenvisual  WHERE rvpi.fkidindicador = {id}" } });
            if (resultado != null)
            {
                represenvisualporindicador = resultado;   
            }
            else
            {
                represenvisualporindicador = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Represenvisualporindicador: {ex.Message}";
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task CargarResponsablesporindicador(string id)
    {
        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.EjecutarConsultaAsync(PROYECTO, TABLA, new Dictionary<string, object> { { "consulta", $"SELECT dbo.actor.nombre FROM dbo.actor INNER JOIN dbo.responsablesporindicador ON dbo.actor.id = dbo.responsablesporindicador.fkidresponsable WHERE dbo.responsablesporindicador.fkidindicador = {id}" } });
            if (resultado != null)
            {
                responsablesporindicador = resultado;
            }
            else
            {
                responsablesporindicador = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Responsablesporindicador: {ex.Message}";
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task CargarFuentesporindicador(string id)
    {
        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.EjecutarConsultaAsync(PROYECTO, TABLA, new Dictionary<string, object> { { "consulta", $"SELECT dbo.fuente.nombre FROM dbo.fuente INNER JOIN dbo.fuentesporindicador ON dbo.fuente.id = dbo.fuentesporindicador.fkidfuente WHERE dbo.fuentesporindicador.fkidindicador = {id}" } });
            if (resultado != null)
            {
                fuentesporindicador = resultado;
            }
            else
            {
                fuentesporindicador = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Fuentesporindicador: {ex.Message}";
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task CargarVariablesporindicador(string id)
    {
        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.EjecutarConsultaAsync(PROYECTO, TABLA, new Dictionary<string, object> { { "consulta", $"SELECT dbo.variable.nombre, dbo.variablesporindicador.dato FROM dbo.variable INNER JOIN dbo.variablesporindicador ON dbo.variable.id = dbo.variablesporindicador.fkidvariable WHERE dbo.variablesporindicador.fkidindicador = {id}" } });
            if (resultado != null)
            {
                variablesporindicador = resultado;
            }
            else
            {
                variablesporindicador = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar Variablesporindicador: {ex.Message}";
        }
        finally
        {
            StateHasChanged();
        }
    }

    private string ObtenerValor(Dictionary<string, object> diccionario, string clave)
    {

        if (diccionario == null)
            return string.Empty;

        if (diccionario.TryGetValue(clave, out var valor))
        {
            return valor?.ToString() ?? string.Empty;
        }

        return string.Empty;
    }

}